<a href="https://colab.research.google.com/github/aebongbing/ESAA/blob/main/Untitled0_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<strong> 01. 머신러닝의 개념 </strong>

머신러닝이란?

* 어플리케이션을 수정하지 않고도 데이터를 기반으로 패턴을 학습하고 결과를 예측하는 알고리즘 기법  
* 기존의 소프트웨어만으로 해결하기 어려웠던 문제들을 해결함


머신러닝의 분류

* 지도학습
  - 분류
  - 회귀
  - 추천 시스템
  - 시각/음성 감지/인지
  - 텍스트 분석, NLP
* 비지도 학습
  - 클러스터링
  - 차원 축소
  - 강화 학습


데이터 전쟁:

다양하고 광대한 데이터로 만들어진 머신러닝 모델이 더 좋은 품질을 지니고, 이는 회사의 경쟁력이 된다.

파이썬과 R 비교


* R
 - 통계 전용 프로그램 언어
 - 다양하고 많은 통계 패키지들을 보유
 - 통계 분석에 능한 현업 사용자에게 추천

* Python
 - 다양한 분야에 사용되는 개발 전용 프로그램 언어
 - 유수의 딥러닝 프레임워크들이 파이썬 우선 정책으로 파이썬 지원
 - 머신러닝 입문자들에게 추천

<strong> 02. 파이썬 머신러닝 주요 패키지 </strong>

* 머신러닝 패키지    
   - Scikit-Learn : 파이썬 세계에서 가장 대표적인 머신러닝 패키지
* 행렬/선형대수/통계 패키지
   - Numpy: 행렬과 선형대수를 다루는 패키지이며 많은 머신러닝 패키지의 기반
* 데이터 핸들링
   - 판다스: 2차원 데이터 처리에 특화되어 있고, 넘파이보다 편리하게 데이터 처리 가능, Matplotlib을 호출하여 쉽게 시각화도 가능
* 시각화
   - 맷플로립: 대표적 시각화 패키지이나 지나친 세분화, 투박한 이미지, 긴 코드 작성으로 인한 비효율성과 불편함
   - Seaborn: 판다스와의 쉬운 연동, 더 함축적인 API, 분석을 위한 다양한 유형의 그래프 제공 등으로 인기있으나 맷플로립을 어느 정도 알아야 사용가능함

* 주피터 노트북
  - 아이파이썬툴(=대화형 파이썬 툴)로 프로그래밍과 이에 대한 설명적 요소를 결합하여 코드의 역할을 쉽게 이해하도록 지원함


파이썬 머신러닝을 위한 S/W 설치

1. Anaconda 설치하기
2. Anaconda prompt 실행하여 패키지 설치 유무 확인하기
3. Jupiter Notebook을 실행하여 새로운 Jupiter Notebook 생성하기
4. Visual studio 설치하기

<strong>03. Numpy</strong>

넘파이
  - 선형대수 기반의 프로그램을 쉽게 만들 수 있으며 루프를 사용하지 않으면서 대량의 데이터 배열 연산이 가능하기 때문에 빠른 배열 연산 속도를 보장함
  - C/C++ 호환 API를 제공함
  - 다양한 데이터 핸들링을 제공하나, 판다스보다 불편함

넘파이 ndarray 개요

In [ ]:
import numpy as np #넘파이에 np라는 명칭을 부여

- 넘파이 array() 함수는 입력받은 인자를 ndarray로 변환함
- 생성된 ndarray 배열의 shape 변수는 ndarray의 크기(= 행과 열의 개수)를 튜플 형태로 가지고 있어 이를 통해 ndarray 배열의 차원까지 알 수 있음

In [ ]:
array1=np.array([1,2,3]) #array1을 ndarray로 변환함
print('array1 type:', type(array1)) #타입 확인
print('array1 array 형태:', array1.shape) #차원과 크기 튜플 형태로 나타냄

array2=np.array([[1,2,3],
                 [2,3,4]])
print('array2 type:', type(array2))
print('array2 array 형태:', array2.shape)

array3=np.array([[1,2,3]])
print('array3 type:', type(array3))
print('array3 array 형태:', array3.shape)

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

*array1과 array3은 동일한 데이터 건수를 가지고 있으나, array1은 1차원임을 나타내고 array3은 행과 열로 이루어진 2차원 데이터임을 나타내고 있음

*차원의 차수를 변환하는 방법을 알아야 데이터 값은 같으나 차원이 달라서 생기는 오류를 막을 수 있음

In [ ]:
print('array1: {0}차원, array2: {1}차원, array3: {2}차원'.format(array1.ndim, array2.ndim, array3.ndim))
#왜 숫자를 다르게 입력했을 땐 오류가 났을까?

array1: 1차원, array2: 2차원, array3: 2차원

*리스트 [ ]은 1차원이고, 리스트의 리스트[[ ]]는 2차원

ndarray의 데이터타입
  - 그 연산의 특성상 닽은 데이터 타입만 가능
  - 데이터 타입은 dtype 속성으로 확인 가능

In [ ]:
list1=[1,2,3]
print(type(list1))
array1=np.array(list1)
print(type(array1))
print(array1, array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

#######교재랑 다르게 나는 int64로 나오는데 이유가 뭐지?

만약 다른 유형이 섞여 있는 리스트를 ndarray로 변경하면 데이터 크기가 더 큰 데이터 타입으로 형 변환을 일관적으로 적용함

In [ ]:
list2=[1,2,'test']
array2=np.array(list2)
print(array2, array2.dtype)

list3=[1,2,3.0]
array3=np.array(list3)
print(array3, array3.dtype)

['1' '2' 'test'] <U21
[1. 2. 3.] float64

int형 값과 문자열이 섞여있는 list2를 ndarray로 변환하자 숫자형 값이 모두 문자열 값인 '1', '2' 로 변환됨

int형과 float형이 섞여있는 list3도 int 1, 2가 모두 1. 2. 인 float형태로 변환

ndarray내의 데이터 값의 타입 변경: astype()   
{메모리를 절약하여 수행속도 저하 및 메모리 부족 오류 등을 방지함}

In [ ]:
array_int=np.array([1,2,3])
array_float=array_int.astype('float64')
print(array_float, array_float.dtype)

array_int1=array_float.astype('int32')
print(array_int1, array_int1.dtype)

array_float1=np.array([1.1, 2.1, 3.1])
array_int2=array_float1.astype('int32')
print(array_int2, array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

* ndarray를 편리하게 생성하기-arange, zeros, ones
  - 테스트용 데이터를 만들거나 대규모의 데이터를 일괄적으로 초기화할시 사용됨
  - arrange(): array를 range로 표현

In [ ]:
sequence_array=np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

  - zeros(): 튜플 형태의 shape 값을 입력하면 모든 값을 0으로 채운 해당 shape의 ndarray를 반환함
  - ones(): 튜플 형태의 shape 값을 입력하면 모든 값을 1로 채운 해당 shape의 ndarray를 반환함

In [ ]:
zero_array=np.zeros((3,2), dtype='int32')
print(zero_array)
print(zero_array.dtype, zero_array.shape)

one_array=np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

* ndarray의 차원과 크기를 변경하는 reshape() *변환을 원하는 크기를 함수 인자로 입력하면 됨

In [ ]:
array1=np.arange(10)
print('array1:\n',array1)

array2=array1.reshape(2,5)
print('array2:\n', array2)

array3=array1.reshape(5,2)
print('array3:\n', array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

* reshape함수는 지정된 사이즈로 변경할 수 없을 경우 오류가 발생함

In [ ]:
array1.reshape(4,3)

ValueError: ignored

* reshape의 인자로 -1을 사용하면 원래의 ndarray와 호환되는 새로운 shape로 변환해줌

In [ ]:
array1=np.arange(10)
print(array1)
array2=array1.reshape(-1,5)
print('array2 shape:', array2.shape) #array1 과 호환가능한 2차원 ndarray로 변환하되, 고정된 5개의 열에 맞는 행들을 자동으로 새롭게 생성하여 변환
array3=array1.reshape(5,-1)
print('array3 shape:', array3.shape)

[0 1 2 3 4 5 6 7 8 9]
array2 shape: (2, 5)
array3 shape: (5, 2)

In [ ]:
#호환불가능한 형태로는 변환불가능
array1=np.arange(10)
array4=array1.reshape(-1,4)

ValueError: ignored

reshape(-1,1): 원본 ndarray가 어떤 형태라도 2차원이고 다수의 행들을 가지지만 반드시 1개의 열을 가진 ndarray로 변환됨을 보장

In [ ]:
array1=np.arange(8)
array3d=array1.reshape((2,2,2))
print('array3d:\n',array3d.tolist())

#3차원 ndarray를 2차원 ndarray로 변환
array5=array3d.reshape(-1,1)
print('array5:\n',array5.tolist())
print('array5 shape',array5.shape)

#1차원 ndarray를 2차원 ndarray로 변환
array6=array1.reshape(-1,1)
print('array6:\n',array6.tolist())
print('array6 shape',array6.shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape (8, 1)

* 넘파이의 ndarray의 데이터 세트 선택하기 - 인덱싱
  
  1) 특정 데이터만 추출: 원하는 위치의 인덱스 값 지정
  
  2) 슬라이싱: 연속된 인덱스 상의 ndarray를 추출하는 방식

  3) 팬시 인덱싱: 일정한 인덱싱 집합을 리스트 혹은 ndarray 형태로 지정하여 해당 위치 데이터의 ndarray 반환

  4) 불린 인덱싱: T/F 값 인덱싱 집합을 기반으로 T에 해당하는 인덱스 위치의 데이터 ndarray를 반환

In [ ]:
#단일값 추출
##1~9 까지의 1차원 ndarray 생성
array1=np.arange(start=1, stop=10)
print('array1:', array1)
#인덱스는 0부터 시작이므로 array1[2]는 3번째 인덱스 위치의 데이터값을 의미
value=array1[2] # 3번째 위치의 데이터 값 (ndarray 타입이 아니라 ndarray 내의 데이터 값을 의미)
print('value:', value)
print(type(value))

array1: [1 2 3 4 5 6 7 8 9]
value: 3
<class 'numpy.int64'>

In [ ]:
#인덱스 -1은 맨 뒤의 데이터값을 의미
print('맨 뒤의 값:', array1[-1], '맨 뒤에서 두 번째 값:', array1[-2])

맨 뒤의 값: 9 맨 뒤에서 두 번째 값: 8

In [ ]:
#단일 인덱스를 활용하여 ndarray내의 데이터 값도 간단하게 수정가능
array1[0]=9
array1[8]=0
print('array1:', array1)

array1: [9 2 3 4 5 6 7 8 0]

In [ ]:
#다차원 ndarray에서 단일 값 추출하기
##2차원의 경우, 콤마로 분리된 행과 열 위치의 인덱스를 통해 접근
array1d=np.arange(start=1, stop=10)
array2d=array1d.reshape(3,3)
print(array2d)

print('(row=0, col=0) index 가리키는 값:', array2d[0,0])
print('(row=0, col=1) index 가리키는 값:', array2d[0,1])
print('(row=1, col=0) index 가리키는 값:', array2d[1,0])
print('(row=2, col=2) index 가리키는 값:', array2d[2,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0, col=0) index 가리키는 값: 1
(row=0, col=1) index 가리키는 값: 2
(row=1, col=0) index 가리키는 값: 4
(row=2, col=2) index 가리키는 값: 9

* 슬라이싱
  - ':' 기호를 이용하여 연속된 데이터를 추출함
  - ':' 사이에 시작 인덱스와 종료 인덱스 표시하면 시작 인덱스에서 종료 인덱스 -1의 위치에 있는 데이터의 ndarray를 반환

*슬라이싱, 팬시 인덱싱, 불린 인덱싱으로 추출된 데이터 세트는 모두 ndarray

In [ ]:
array1=np.arange(start=1, stop=10)
array3=array1[0:3]
print(array3)
print(type(array3))

[1 2 3]
<class 'numpy.ndarray'>

* 슬라이싱 기호 ':' 사이의 시작, 종료 인덱스는 생략 가능
  
  1) ':' 기호 앞의 시작 인덱스 생략하면, 자동으로 맨 처음 인덱스인 0으로 간주

  2) ':' 기호 뒤의 종료 인덱스 생략하면, 자동으로 맨 마지막 인덱스로 간주

  3)  ':' 기호 앞/뒤의 시작/종료 인덱스 생략하면, 자동으로 맨 처음/맨 마지막 인덱스로 간주

In [ ]:
array1=np.arange(start=1, stop=10)
array4=array1[:3]
print(array4)

array5= array1[3:]
print(array5)

array6=array1[:]
print(array6)

[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [ ]:
#2차원 ndarray 슬라이싱
array1d=np.arange(start=1, stop=10)
array2d=array1d.reshape(3,3)
print('array2d:\n',array2d)

print('array2d[0:2, 0:2]\n', array2d[0:2, 0:2])
print('array2d[1:3, 0:3]\n', array2d[1:3, 0:3])
print('array2d[1:3, :]\n', array2d[1:3, :])
print('array2d[:, :]\n', array2d[:, :])
print('array2d[:2, 1:]\n', array2d[:2, 1:])
print('array2d[:2, 0]\n', array2d[:2, 0])

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2, 0:2]
 [[1 2]
 [4 5]]
array2d[1:3, 0:3]
 [[4 5 6]
 [7 8 9]]
array2d[1:3, :]
 [[4 5 6]
 [7 8 9]]
array2d[:, :]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2, 1:]
 [[2 3]
 [5 6]]
array2d[:2, 0]
 [1 4]

In [ ]:
#2차원 ndarray에서 뒤에 오는 인덱스를 없애면 1차원 ndarray를 반환
#3차원 ndarray에서 뒤에 오는 인덱스를 없애면 2차원 ndarray를 반환
print(array2d[0])
print(array2d[1])
print('array2d[0] shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape)

[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

In [ ]:
#팬시 인덱싱: 리스트나 ndarray로 인덱스 집합을 지정하면 해당 위치의 인덱스에 해당하는 ndarray를 반환
array1d=np.arange(start=1, stop=10)
array2d=array1d.reshape(3,3)

array3=array2d[[0,1],2]
print('array2d[[0,1],2]=>', array3.tolist())

array4=array2d[[0,1],0:2]
print('array2d[[0,1],0:2]=>', array4.tolist())

array5=array2d[0,1]
print('array2d[0,1]=>', array5.tolist())

array2d[[0,1],2]=> [3, 6]
array2d[[0,1],0:2]=> [[1, 2], [4, 5]]
array2d[0,1]=> 2

In [ ]:
#불린 인덱싱: 필터링과 검색 동시 가능, ndarray를 지정하는 []내의 조건문을 그대로 기재하면 된다
array1d=np.arange(start=1, stop=10)
#[] 안에 array1d > 5 불린 인덱싱 적용
array3=array1d[array1d>5]
print('array>5 불린 인덱싱 결과 값:', array3)

array>5 불린 인덱싱 결과 값: [6 7 8 9]

In [ ]:
#넘파이 ndarray 객체에 조건식을 할당하면 어떻게 되는 가
array1d>5

array([False, False, False, False, False,  True,  True,  True,  True])

해당 결과를 인덱싱 지정[] 안에 입력하면 T 값이 있는 위치 인덱스 값으로 자동 변환 되어 해당하는 인덱스 위치의 데이터만 반환

In [ ]:
boolean_indexes=np.array([False, False, False, False, False,  True,  True,  True,  True])
array3=array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과:', array3)

불린 인덱스로 필터링 결과: [6 7 8 9]

In [ ]:
indexes=np.array([5,6,7,8])
array4=array1d[indexes]
print('불린 인덱스로 필터링 결과:', array4)

#결과 동일

불린 인덱스로 필터링 결과: [6 7 8 9]

* 행렬의 정렬 - sort() 와 argsort()

  - 넘파이의 행렬 정렬은 np.sort와 같이 넘파이에서 sort()를 호출하는 방식과 ndarray.sort와 같이 행렬 자체에서 sort()를 호출하는 방식이 있음
  - np.sort(): 원행렬 유지한 체 정렬된 행렬 반환
  - ndarray.sort(): 원행렬 자체를 정렬한 형태로 변환, 반환 값은 NONE

In [ ]:
org_array=np.array([3,1,9,5])
print('원본행렬:', org_array)
#np.sort()로 정렬
sort_array1= np.sort(org_array)
print('np.sort() 호출 후 반환된 정렬 행렬:', sort_array1)
print('np.sort() 호출 후 원본행렬:', org_array)
#ndarray.sort()로 정렬
sort_array2=org_array.sort()
print('org_array.sort() 호출 후 반환된 정렬 행렬:', sort_array2)
print('org_array.sort() 호출 후 원본행렬:', org_array)
#내림차순으로 정렬하기
sort_array1_desc=np.sort(org_array)[::-1]
print('내림차순으로 정렬:', sort_array1_desc)
#행렬이 2차원 이상일 경우, axis 축 값 설정으로 행 방향 혹은 열 방향으로 정렬 수행 가능
array2d=np.array([[8,12],
                  [7,1]])
sort_array2d_axis0=np.sort(array2d, axis=0)
print('같은 로우 방향으로 정렬:\n', sort_array2d_axis0)

sort_array2d_axis1=np.sort(array2d, axis=1)
print('같은 칼럼 방향으로 정렬:\n', sort_array2d_axis1)

원본행렬: [3 1 9 5]
np.sort() 호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort() 호출 후 원본행렬: [3 1 9 5]
org_array.sort() 호출 후 반환된 정렬 행렬: None
org_array.sort() 호출 후 원본행렬: [1 3 5 9]
내림차순으로 정렬: [9 5 3 1]
같은 로우 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
같은 칼럼 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

In [ ]:
#정렬된 행렬의 인덱스 반환하기
##원본 행렬이 정렬되었을 때 기존 원본 행렬의 원소에 대한 인덱스를 필요로 할 때 np.argsort() 이용
##np.argsort(): 정렬 행렬의 원본 행렬 인덱스를 ndarray형으로 반환
org_array=np.array([3,1,9,5])
sort_indices=np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)
###내림차순으로 정렬하기
org_array=np.array([3,1,9,5])
sort_indices_desc=np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]
행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [ ]:
#넘파이의 ndarray는 메타 데이터를 가질 수 없음 따라서 실제 값과 그 값이 뜻하는 메타 데이터를 별도의 ndarray로 각각 가져야만 하는데 이때 argsort()를 사용함
import numpy as np
name_array=np.array(['John', 'Mike', 'Sarah', 'Kate', 'Sammuel'])
score_array=np.array([78, 95, 84, 98, 88])
sort_indices_asc=np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:',sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:',name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Sammuel' 'Mike' 'Kate']

In [ ]:
#선형대수 연산-행렬 내적과 전치행렬 구하기

##행렬내적
A=np.array([[1,2,3],
           [4,5,6]])
B=np.array([[7,8],
           [9,10],
           [11,12]])
dot_product=np.dot(A,B)
print('행렬 내적 결과:\n', dot_product)

##전치 행렬
A=np.array([[1,2],
           [3,4]])
transpose_mat=np.transpose(A)
print("A의 전치 행렬:\n", transpose_mat)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]
A의 전치 행렬:
 [[1 3]
 [2 4]]